.client-form {
  position: relative;
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.client-form::before {
  position: absolute;
  top: 48px;
  right: 0;
  content: "";
  width: 99px;
  height: 2px;
  background-color: #68b738;
}

.client-form__title {
  margin: 35px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: @font-family;
  text-transform: none;
}

.client-form__container {}

.client-form__subcontainer {
  padding-bottom: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-form__label {
  padding-right: 14px;
}

.client-form__input {
  padding: 13px;
  flex-grow: 1;

  font-size: @font-size;
  line-height: @line-h;
  font-family: @font-family;
  color: @black;
  text-transform: uppercase;
}

.client-form__input::placeholder {
  font-family: @font-family;
  font-size: @font-size;
  color: #444444;
}
