.comment {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;

  font-style: normal;
  font-weight: 400;
}

.comment__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.comment__title {
  margin-bottom: 35px;
}

.comment__textarea {
  display: flex;
  padding: 13px;

  color: @gray;
  font-size: @font-size;
  line-height: @line-h;
  font-family: @font-family;
  text-transform: uppercase;
}

.comment__textarea::placeholder {
  font-family: @font-family;
  font-size: @font-size;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .comment {
    padding-bottom: 70px;
  }

  .comment__title {
    margin-bottom: 75px;
  }

  .comment__textarea {
    margin-left: 40px;
    max-height: 174px;
    font-size: 20px;
    line-height: 30px;
    resize: none;
  }

  .comment__textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
