.comment {
  position: relative;
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
}

.comment::before {
  position: absolute;
  top: 32px;
  right: 0;
  content: "";
  width: 158px;
  height: 2px;
  background-color: #68b738;
}

.comment__title {
  margin: 21px 0 35px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: @font-family;
  color: @black;
  text-transform: none;
}

.comment__input {
  display: flex;
  padding: 13px;

  color: @gray;
  font-size: @font-size;
  line-height: @line-h;
  font-family: @font-family;
  text-transform: uppercase;
}

.comment__input::placeholder {
  font-family: @font-family;
  font-size: @font-size;
  color: #444444;
}
