.conditions {
  background-color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: @font-family;
  line-height: @line-h;
  font-family: @font-family;
  text-align: center;
  color: @black;
  text-transform: uppercase;
}

.conditions__title {
  font-weight: 500;
  font-size: @font-family--bigger;
  line-height: @line-h--bigger;
  text-transform: capitalize;
}

.conditions__container {}

.conditions__subcontainer {}

.conditions__value {}

.conditions__field {}
