.copyright {
  color: @gray;
}

.copyright__wrapper {}

.contacts__wrapper--index {
  background-color: #ffffff;
}

.copyright__name {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.copyright__link {}

.copyright__logo {}
