.extra-products {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-family: @font-family;
  color: @light-black;
}


.extra-products__title {
  margin: 0;
  padding: 37px 0 29px 0;
  text-align: left;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: none;
  border-bottom: 1px solid #ededed;
}

.extra-products__title-self {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.extra-products__title-self::before {
  position: absolute;
  content: '';
  top: 13px;
  left: 0;
  width: 100vw;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}

.extra-products__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.extra-products__item {
  margin-bottom: -1px;
  padding: 14px 0 17px 0;
  display: flex;
  flex-direction: column;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.extra-products__name {
  margin: 0;
  padding: 0;
  text-align: left;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra-products__stats {
  margin: 0;
  padding: 17px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 400;
  font-size: 14px;
  font-height: 14px;
  font-family: 'Arial', sans-serif;
  text-transform: none;
}

.extra-products__field {}

.extra-products__value {}

.extra-products__buy {
  padding: 16px 0 12px 0;

  background-color: @green;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: @font-family;
  color: @white;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .extra-products {
    padding: 0;
  }

  .extra-products__title {
    padding: 0 30px 80px;
    font-size: 36px;
    line-height: 1;
  }

  .extra-products__list {
    padding: 0 30px;
  }

  .extra-products__item {
    flex-flow: row wrap;
    padding: 24px 37px 27px;
    border: 1px solid #ededed;
    border-bottom: none;
  }

  .extra-products__item:last-of-type {
    border-bottom: 1px solid #ededed;
  }

  .extra-products__name {
    margin-bottom: 26px;
    margin-right: auto;
    font-size: 20px;
    line-height: 1;
  }

  .extra-products__stats {
    align-items: flex-end;
    margin-bottom: 26px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
  }

  .extra-products__field {
    margin-right: 50px;
  }

  .extra-products__value {

  }

  .extra-products__buy {
    height: 40px;
    width: 100%;
    padding: 12px 0;
  }
}

@media (min-width: @desktop-width) {
  .extra-products {
    display: flex;
    padding-bottom: 86px;
  }

  .extra-products__wrapper {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 40px;
  }

  .extra-products__title {
    padding: 0 40px 80px;
    font-size: 36px;
    line-height: 1;
  }

  .extra-products__list {
    flex: 0 1 895px;
    padding: 0;
    margin-right: 80px;
  }

  .extra-products__item {
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px 0 16px;
    border-top: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
  }

  .extra-products__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  .extra-products__name {
    flex: 0 1 325px;
    margin: 0;
  }

  .extra-products__field {
    margin: 0;
  }

  .extra-products__stats {
    flex: 0 1 285px;
    margin: 0;
    margin-right: 40px;
  }

  .extra-products__buy {
    width: auto;
    padding: 0 92px;
  }
}
