.program-features {
  min-height: 383px;
  margin-top: 32px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-family: @font-family;
}

.program-features__wrapper {}

.program-features__title {
  margin: 0 0 35px 0;

  font-family: @font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: @black;
  text-transform: none;
}

.program-features__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.program-features__item {
  position: relative;
  margin: 10px 0 10px 80px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  text-transform: none;
}

.program-features__item--leaf::before {
  position: absolute;
  top: -3.2px;
  left: -80px;
  content: "";
  background: url("../img/icons/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
  width: 60px;
  height: 60px;
}

.program-features__item--powder::before {
  position: absolute;
  top: -3.2px;
  left: -80px;
  content: "";
  background: url("../img/icons/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
  width: 60px;
  height: 60px;
}

.program-features__item--dining::before {
  position: absolute;
  top: -3.2px;
  left: -80px;
  content: "";
  background: url("../img/icons/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
  width: 60px;
  height: 60px;
}

.program-features__item--clock::before {
  position: absolute;
  top: -3.2px;
  left: -80px;
  content: "";
  background: url("../img/icons/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
  width: 60px;
  height: 60px;
}

@media (min-width: @tablet-width) {
  .program-features {
    margin: 0;
    padding: 0 30px 55px;
    border-bottom: 1px solid #e6e6e6;
  }

  .program-features__title {
    margin-bottom: 72px;
    font-size: 60px;
  }

  .program-features__list {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .program-features__item {
    min-height: 228px;
    flex: 0 1 250px;
    margin: 0;
    margin-bottom: 89px;
    padding-top: 112px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .program-features__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .program-features__item--leaf::before,
  .program-features__item--powder::before,
  .program-features__item--dining::before,
  .program-features__item--clock::before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }

  .program-features__item--leaf {
    background: no-repeat 126px 0 / contain url("../img/background/1.png");
  }

  .program-features__item--powder {
    background: no-repeat 122px 0 / contain url("../img/background/2.png");
  }

  .program-features__item--dining {
    background: no-repeat 124px 0 / contain url("../img/background/3.png");
  }

  .program-features__item--clock {
    background: no-repeat 125px 0 / contain url("../img/background/4.png");
  }
}
