.program-example {
  background-color: #f2f2f2;

  font-style: normal;
  font-weight: 400;
  font-family: @font-family;
}

.program-example__wrapper {}

.program-example__title {
  font-size: 36px;
  line-height: 60px;
  font-family: @font-family;
  color: @black;
  text-transform: capitalize;
}

.program-example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Arial', sans-serif;
  color: @gray;
  text-transform: capitalize;
}

.program-example__stats {}

.program-example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: @font-family;
  color: @black;
  text-transform: uppercase;
}

.program-example__small {
  font-size: 12px;
  line-height: 12px;
  font-family: 'Arial', sans-serif;
  color: @gray;
  text-transform: lowercase;
}

.program-example__result {
  font-size: 14px;
  line-height: 20px;
  font-family: @font-family;
  color: @black;
  text-transform: uppercase;
}

.program-example__cats {}

.program-example__img {}

.program-example__img--fatcat {}

.program-example__img--skinnycat {}

.program-example__progress {
  font-size: 24px;
  line-height: 24px;
  font-family: @font-family;
  color: @black;
  text-transform: uppercase;
}

.program-example__before {}

.program-example__after {}
