.program-features {
  background-color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-family: @font-family;
}

.program-features__wrapper {}

.program-features__title {
  font-size: 36px;
  line-height: 60px;
  color: @black;
  text-transform: capitalize;
}

.program-features__list {}

.program-features__description {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
  text-transform: capitalize;
}
