.program {
  background-color: #ffffff;

  font-style: normal;
  font-family: @font-family;
}

.program__wrapper {}

.program__header {
  background-image: url('img\index-background-mobile@1x.jpg');
  background-color: @green;
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

.program__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff
}

.program__image {}

.program__button {
  background-color: @green;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @font-family;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
