.program {
  position: relative;

  display: flex;
  flex-direction: column;

  font-style: normal;
  font-family: @font-family;

  background: no-repeat 0 0 / auto 305px url('../img/background/index-background-mobile@1x.jpg'),
  linear-gradient(to bottom, @green, @green 305px, #fff 305px, #fff);
}

.program__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 305px;
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;
  text-transform: none;
}

.program__subtitle {
  padding-bottom: 300px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @white;
}

.program__image {
  position: absolute;
  align-self: center;
  top: 167px;
}

.program__button {
  width: 100%;
  padding: 13px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
 }


@media (min-width: @tablet-width) {
  .program {
    padding-left: 120px;
    padding-bottom: 533px;
    background: none;
  }

  .program__container {
    padding-right: 30px;
    min-height: 0;
    background: none;
  }
  .program__title {
    margin: 0;
    margin-bottom: 43px;
    padding-right: 192px;
    font-size: 60px;
    line-height: 1;
    color: @black;
    text-align: left;
  }
  .program__subtitle {
    margin-bottom: 43px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
    text-transform: uppercase;
  }
  .program__image {
    top: 201px;

    width: 709px;
    height: 609px;
    z-index: -1;
  }
  .program__button {
    width: auto;
    padding: 16px 28px 16px 26px;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .program {
    margin-bottom: 80px;
    padding-top: 110px;
    padding-bottom: 188px;
    padding-right: 40px;
  }

  .program__container {
    padding: 0;
  }

  .program__title {
    padding-right: 715px;
  }
}
