.show-all {
  background-color: #ffffff;
  font-family: @font-family;
  color: @black;
}

.show-all__wrapper {}

.show-all__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @black;
}

.show-all__small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  text-align: center;
  color: @gray;
}

.show-all__button {
  background-color: #f2f2f2;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: @font-family;
  text-align: center;
  color: @light-black;
  text-transform: uppercase;
}
