.products {
  background-color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: @font-size;
  line-height: @line-h;
  font-family: @font-family;
  color: @black;
  text-transform: uppercase;
}

.products__wrapper {}

.products__list {}

.products__item {}

.products__images {}

.products__images-link {}

.products__image {}

.products__description {}

.products__link {}

.products__link--header {}

.products__name {
  font-weight: 500;
  font-size: ;
  line-height: ;
  color: @black;
  text-transform: uppercase;
}

.products__table {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
  text-transform: capitalize;
}

.products__field {}

.products__value {}

.products__button {
  background-color: @green;
  font-weight: 400;
  font-size: @font-size;
  line-height: @line-h;
  font-family: @font-family;
  color: #ffffff;
  text-transform: uppercase;
}
